<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @property.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @property.title %>
</p>

<p>
  <strong>Property size:</strong>
  <%= @property.property_size %>
</p>

<p>
  <strong>Price:</strong>
  <%= @property.price %>
</p>

<p>
  <strong>Is deposit required:</strong>
  <%= @property.is_deposit_required %>
</p>
<% if current_user.Client? %>
  <%= link_to 'Back' , properties_path %><br>
  <% interest = Interest.find_by(property: @property, user: current_user) %>
  <% if interest.present? %>
      <%= button_to 'Cancel', property_interest_path(property_id: @property.id,id: interest.id), :method => :delete %>
  <% else %>
    <%= button_to 'Interest', property_interests_path(@property), method: :property %>
  <% end %>
<% else %>
  <%= link_to "Show Interested User", interests_interest_path(@property), class: "btn btn-primary" %>
  <%= link_to 'Back' , properties_path, class: "btn btn-primary"  %>
  <%= link_to 'Edit' , edit_property_path(@property), class: "btn btn-primary"  %>
  <%= link_to 'Destroy', property_path(@property), method: :delete, data: { confirm: 'Are you sure?' } ,class: "btn btn-primary" %>
<% end %>

</div>

