<% if current_user.role == "Client" %>
<div class= "contanier my-3">
  <p id="notice"><%#= notice %></p>
  <h1 style="color:black;">Client</h1>
  <%= link_to "Profile",new_client_path, class:"btn btn-primary"%> 
  <div class="row mx-0">
    <% if @properties.present? %>
      <% @properties.each do |p|%>
        <div class="col-md-3 my-2">
        <div class="card">
        <div class="card-body">
          <h5 style="color :black;" class="card-title"><%= p.title%></h5>
          <h6 style="color :black;"> <p class="card-text">
            <p> Property Size : <%= p.property_size %> </p><br>
            <p> Price : <%= p.price %></p><br>
            <p> Is deposit required? : <%= p.is_deposit_required %></p>
            <p> Created by: <%= p.user.name.capitalize %> </p>
            <%= link_to "View", property_path(p), class:"btn btn-primary"%>
            </p>
          </h6>
        </div>
        </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<% else %>
<center>
  <h1 style="color: black;"> you are at wrong section </h1>
<% end %>


